html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
  text-align: center;
}
.gallery {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  list-style: none;
  flex-wrap: wrap;
}
.gallery-list-item {
  /* display: block; */
  width: 23%;
  margin-bottom: 15px;
  margin-right: 15px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-item {
  margin-right: 5px;
}

.gallery-img {
  display: block;
  max-width: 100%;
  width: 265px;
  height: 177px;
  object-fit: cover;
}
